@{
    ViewData["Title"] = "Tela Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p> Segue o link --->  <a href="https://docs.microsoft.com/aspnet/core">   Aperte aqui </a>.</p>
</div>
